body {      
    background-color:rgb(233, 255, 254);
    font-family: Arial, Helvetica, sans-serif;
}
#fototon{
    size: 200px;
    float: left;
    border-radius: 40%;
    padding: 10px;
    background-color: rgb(0, 43, 68);
}
.imagcont{

    background-color: rgb(182, 184, 260);
    height: 225px;

}

.linkinterno:hover{
    color: rgb(7, 7, 92);
}

h1{
    font-size: 45px;
    color: blanchedalmond;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    left: 20%;
}
.listas{
    font-style: italic;
}
.conteudo{
    text-align: center;
}
ul li:nth-child(odd){
    color: rgb(54, 54, 54);
}


li:hover{
    color: rgb(85, 85, 85);
}
ul{

    list-style: none;
}

.inicio{
    background-color: rgb(4, 59, 110);
    border: 3px solid rgb(9, 0, 41);
}
.iconeslinks{
    text-align: center;
}


.indice{
    text-align: center;
}