.icons{
    height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 50%;
}

 body{
    color: rgb(177, 177, 177);
} 

/* .corPrimaria{
    background-color: #3c773ca8 important;
} */

/* .corSecundaria{
    color: #3c3f3c important;
} */

li{
    list-style: none;
}
/* jumbotron{
    background-color: #03a203;
    color: rgb(170, 13, 13);
} */
html{
    scroll-behavior: smooth;
}

sec{
    padding-top: 25vw;
    padding-bottom: 25vw;
}